@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{Subject: Заборавена лозинка}

<p>Почитувани,</p>

<p>
    Ве молиме да кликнете на линкот за да си креирате нова лозинка: <a href="@ViewBag.Token">линк</a>
</p>

