@model WorkOrders.Models.Customer

@{
    ViewData["Title"] = "Create";
}
<div class="text-center">
    <h1>Create</h1>

<h4>Customer</h4>
</div>

<hr />
<div class="row row col-12 container">
    @*<div class="col-md-4">*@
        <form asp-action="Create" class="form-style">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="form-group form-group col-lg-3 col-md-6 col-12">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-group col-lg-3 col-md-6 col-12">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group form-group col-lg-3 col-md-6 col-12">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group form-group col-lg-3 col-md-6 col-12">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group form-group col-lg-3 col-md-6 col-12">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-group col-lg-3 col-md-6 col-12">
                <label asp-for="Web" class="control-label"></label>
                <input asp-for="Web" class="form-control" />
                <span asp-validation-for="Web" class="text-danger"></span>
            </div>
            <div class="form-group form-group col-lg-3 col-md-6 col-12">
                <label asp-for="Edb" class="control-label"></label>
                <input asp-for="Edb" class="form-control" />
                <span asp-validation-for="Edb" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>*@
                </div>
              <div class="row form-buttons">
              <div class="form-group col-6">
                <a  asp-action="Index" class="btn btn-outline-secondary" ><i class="fa-solid fa-circle-arrow-left"></i> Back to List</a>
              </div>
              
              <div class="form-group col-6 text-end">
                <button type="submit"  class="btn btn-primary">Create <i class="fa-solid fa-circle-plus"></i></button>
              </div>
            </div>
        </form>
    @*</div>*@
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
