@model WorkOrders.Models.ForgotPassword;

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="col-10 offset-1">
        <form method="post" action="Login">
            <div class = "form-group">
                <label asp-for="Username">Please enter your email adress:</label>
                <input type="email" asp-for="Username" class="form-control col-12"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
             <button type="submit" asp-action="ForgotPassword" class="btn btn-primary" style="width:50%">Submit</button>
        </form>
</div>